 @charset "UTF-8";

body {
    background-color: #999999;
}

 .container {
     width: 90%;
     margin-left: auto;
     margin-right: auto;
 }

 .header_text {
    padding-bottom: 1em;
    padding-top: 0.5em;
    font-size: 3em;
    
}

 .header {
    width: 100%;
    text-align: center;

    margin-left: auto;
    margin-right: auto;
    border-bottom: 0.125em solid #5925A4;
    background-color: white;    
 }

.section_title {
    font-size: 1.5em;
    margin-left: 2%;
    padding-top: 0.125em;
}

.text_box {
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    padding: 5em;
    width: 30%;
    border-bottom: 0.125em solid #5925A4;
    background-color: white;    
    
}

.image_box {
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    padding: 5em;
    width: 65%;
    border-bottom: 0.125em solid #5925A4;
    background-color: white;    
    
}

.big_image_box {
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    padding: 5em;
    width: 85%;
    border-bottom: 0.125em solid #5925A4;
    background-color: white;    
    
}

.box_image {
    padding: 0em;
}

.text {
    font-size: 1em;
}

.title_border {
    border-bottom: 0.125em solid #8B25A4;
    margin-bottom: 1em;    
}

.shadow {
    box-shadow: 0.125em 0.125em 0.5em #000000;
}

 .feature_list {
     margin-left: 5%;

     
 }

 .component_footer {
    width: 33%;
    margin-left: 33%;
    margin-right: 33%;
    text-align: center;
	border-top: 0.125em solid #844FD1;
}

.copyright {
	text-align: center;
	color: #444444;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
	font-family: "Source Sans Pro";
}

.credits {
	text-align: center;
	padding-top: 10px;
	font-size: .75em;
	color: #444444;
    letter-spacing: 1px;
    text-decoration-style: none;
}

a:link {
    text-decoration: none;
    color: #444444;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    opacity: 0.75;
}